################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CompetitiveDirectory/ProcessRun.pdb
/CompetitiveDirectory/ProcessRun.dll
/CompetitiveDirectory/Microsoft.Bcl.AsyncInterfaces.xml
/CompetitiveDirectory/Microsoft.Bcl.AsyncInterfaces.dll
/CompetitiveDirectory/ConfigReader.pdb
/CompetitiveDirectory/ConfigReader.dll.config
/CompetitiveDirectory/ConfigReader.dll
/CompetitiveDirectory/System.Threading.Tasks.Extensions.xml
/CompetitiveDirectory/System.Threading.Tasks.Extensions.dll
/CompetitiveDirectory/System.Text.Json.xml
/CompetitiveDirectory/System.Text.Json.dll
/CompetitiveDirectory/System.Text.Encodings.Web.xml
/CompetitiveDirectory/System.Text.Encodings.Web.dll
/CompetitiveDirectory/System.Runtime.CompilerServices.Unsafe.xml
/CompetitiveDirectory/System.Runtime.CompilerServices.Unsafe.dll
/CompetitiveDirectory/System.Numerics.Vectors.xml
/CompetitiveDirectory/System.Numerics.Vectors.dll
/CompetitiveDirectory/System.Memory.xml
/CompetitiveDirectory/System.Memory.dll
/CompetitiveDirectory/System.Buffers.dll
/CompetitiveDirectory/SingleRun.pdb
/CompetitiveDirectory/SingleRun.exe.config
/CompetitiveDirectory/SingleRun.exe
/ExecuteSolution/ExecuteSolution/x64/Release/ExecuteSolution.tlog
/ExecuteSolution/ExecuteSolution/x64/Release
/Support/ConfigReader/bin/Debug
/Support/ConfigReader/bin/Release
/Support/ConfigReader/obj
/Support/packages
/Support/ProcessRun/bin/Release
/Support/ProcessRun/obj/Release
/Support/SingleRun/bin/Debug
/Support/SingleRun/obj
/ExecuteSolution/x64/Release
/Support/ExampleRun/bin/Release
/Support/ExampleRun/obj/Release
/CompetitiveDirectory/ExampleRun.pdb
/CompetitiveDirectory/ExampleRun.exe.config
/CompetitiveDirectory/ExampleRun.exe
